.intro {
    background-color: var(--red-color);
    color: var(--white-color);
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 600px;
    height: fit-content;
    border-radius: 20px;
    border: 3px solid var(--white-color);
    margin-top: 30px;
}

.intro h2 {
    font-size: clamp(18px,3vw,26px);
}

.intro p {
    font-size: clamp(14px,3vw,18px);
}